@font-face {
    font-family: 'iroha-R';
    src: url('../fonts/いろはマル＿R.woff')format('woff');
}

@font-face {
    font-family: 'iroha-L';
    src: url('../fonts/いろはマル＿L.woff')format('woff');
}

@font-face {
    font-family: 'iroha-M';
    src: url('../fonts/いろはマル＿M.woff')format('woff');
}

@font-face {
    font-family: 'XANO';
    src: url('../fonts/XANO.woff')format('woff');
}







*{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: XANO;
    font-size: 150%;
    color: #F6EEEE;
}

main{

    box-sizing: border-box;
    background-color: #524C48;
    padding: 0px;
    margin: 0px;
}

section{
    max-width: 70%;
    margin: 0 auto;
    padding: 48px 0 200px;
    text-align: center;
}

@media screen and (max-width: 600px){
    section{
        max-width: 90%;
    }
}

li{
    list-style: none;
}

.title{
    position: relative;
    padding: 0px;
    margin: 0px;
}

.title h1{
    width: 80%;
    height: auto;

    text-align: center;

    font-size: 250%;

    position: absolute;
    color: #4e3512;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* 位置調整 */
    margin: auto;
    padding: 10px 0;

    box-sizing: border-box;

    background-color: #d6d6d6;
}

@media screen and (max-width: 600px){
    .title h1{
        width: 100%;
        height: auto;
        font-size: 150%
    }
}







img{
    vertical-align:bottom;
    /* 画像下の余白が消えるよ */
}



header{
    background-color: #cec8c3;
    margin: 0;
    padding: 0;

    /* スティッキーヘッダー */
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    vertical-align: bottom;
}

.headerContents{
    display: flex;
    max-width: 80%;
    margin: 0 auto;

    font-size: 20px;
    overflow-x: scroll;
    white-space: nowrap;
}

.headerRight{
    padding: 15px 20px 5px;
}

.headerLeft{
    padding: 10px 20px;
    margin-right: auto;
    color: #653838;
}

.list{
    display: flex;
}

.list li{
    padding: 0 10px;
}

.next-btn{
    display: none;
}


@media screen and (max-width: 600px) {
    h1{
        width: 100%;
    }

    section{
        max-width: 100%;
    }

    .headerContents{
        max-width: 90%;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .headerLeft h3{
        padding: 0px;
    }

    .next-btn{
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
        width: 25px;
        height: 48px;
        margin: auto;
        background: #653838;
        color: #F6EEEE;
    }


    .next-btn p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

h2{
    font-family: 'iroha-M';
    color: #4e3512;

    font-size: 200%;
    text-align: center;
    background-color: #dfdad7;
    padding: 30px;
    margin-bottom: 100px;
}

@media screen and (max-width:600px){
    h2{
        text-align: center;
        font-size: 100%;
    }
}

.COC h3{
    font-family: 'iroha-R';

    text-align: left;
    margin: 50px 0;
    padding-left: 10px;
    border-left: 10px solid #d6d6d6;
}

@media screen and (max-width:600px){
    .COC h3{
        font-size: 80%;
        margin-left: 10px;
    }
}

li p{
    margin-top: 10px;
}


p{
    text-align: center;
    line-height: 30px;
}

.menu-text{
    max-width: 60%;
    margin: auto;
}

.system{
    display: flex;
    flex-wrap: wrap;

    max-width: 100%;
    margin: 100px auto 50px;
}

.system li{
    width: calc(100%/5);
    padding: 10px;
    box-sizing: border-box;
}

.system li p{
    line-height: 20px;
}

.system img{
    max-width: 100%;
    height: auto;
    border: 5px solid #999;
    box-sizing: border-box;
}

@media screen and (max-width: 600px){
    .system{
        flex-direction: column;
    }

    .system li{
        width: 80%;
        height: auto;
        margin: 0 auto 5%;
    }
}



.closed-city{
    display: flex;
    box-sizing: border-box;
    margin: 10px;
}

.coc-kinds{
    width: 70%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .closed-city{
        flex-direction: column;
    }

    .closed-city .coc-text{
        order: 1;
    }

    .coc-kinds{
        width: 100%;
        height: auto;
    }
}

.player{
    display: flex;
    flex-wrap: wrap;

    max-width: 90%;
    margin: 0 auto;
}


.player li{
    width: calc(100%/3);
    padding: 0 5px;
    box-sizing: border-box;
}

.player img{
    max-width: 100%;
    height: auto;
    border: 5px solid #999;
}


@media screen and (max-width: 600px){
    .player{
        flex-direction: column;
    }

    .player li{
        width: 80%;
        height: auto;
        margin: 0 auto 10%;
    }
}


.sessionList{
    box-sizing: border-box;
}

.sessionList li{
    margin: 50px;
    color: #634317;
}

.sessionList img{
    border-radius: 20%;
}

.sessionA{
    border: 7px solid #1F3031;
}

.sessionB{
    border: 7px solid #2E201E;
}

.sessionC{
    border: 7px solid #3E4D5B;
}

.sessionD{
    border: 7px solid #634317;
}

.sessionE{
    border: 7px solid #212c1d;
}

.sessionF{
    border: 7px solid #808080;
}

.coc-session{
    width: 15vw;
    height: auto;
}

.coc-container{
    display: flex;
    max-width: 70%;
    margin: 0 auto;

    padding: 50px;

    background-color: #DFDCD8;
    border-radius: 5vw;
}

@media screen and (max-width: 600px) {
    .coc-container{
        flex-direction: column;
        padding: 20px;
    }

    .coc-session{
        width: 80%;
        height: auto;
    }

    .coc-picture{
        padding-bottom: 5%;
    }
}

.coc-text{
    margin: auto;
}


.image1{
    box-sizing: border-box;
    padding: 10vh 0 30vh;
    background-color: #524C48;
    text-align: center;
}

.image2{
    box-sizing: border-box;
    padding: 30vh 0 10vh;
    background-color: #524C48;
    text-align: center;
}

.image{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .image{
        width: 100%;
        height: auto;
    }
}

a{
    color: #653838;
    text-decoration: none;
}

a:hover{
    background-color: #653838;
    opacity: 0.8;
    border-radius: 10px;
    color: #cec8c3;
}

label:hover{
    cursor: pointer;
    color: #F6EEEE;
    background-color: #524C48;
    border-radius: 5px;
    opacity: 0.8;
}


/* ポップアップ */

.over{
    display: none;
}

/* これ絶対 チェックボックスを見せない*/
input[type="checkbox"]{
    display: none;
}

.popup-container{
    display: flex;
    max-width: 90%;
    margin: auto;
    box-sizing: border-box;
}

.popup-session{
    max-width: 220px;
    width: 30%;
    height: 30%;
    margin: 5%;
}

.popup-container p{
    /* margin: 0; */
    padding: 5vw;
}

.textSize{
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    margin: auto;
}

.textSize span{
    font-weight: normal;
}

.close-btn{
    position: absolute;

    top: 95%;
    left: 50%;
    transform: translate(-50%,-95%);

    box-sizing: border-box;
    padding: 10px 50px;
    border-radius: 5px;
    color: #F6EEEE;
    background-color: #524C48;

    font-size: 16px;
}


#triggerA:checked + .over,
#triggerB:checked + .over,
#triggerC:checked + .over,
#triggerD:checked + .over,
#triggerE:checked + .over,
#triggerF:checked + .over{
    display: block;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#popupA{
    color: #653838;

    /* 枠の大きさ */
    width: 80%;
    height: 80%;
    background-color: #DFDCD8;
    border-radius: 10px;

    /* 枠の位置 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    position: relative;
}

#popupB{
    color: #653838;

    /* 枠の大きさ */
    width: 80%;
    height: 80%;
    background-color: #DFDCD8;
    border-radius: 10px;

    /* 枠の位置 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    position: relative;
}

#popupC{
    color: #653838;

    /* 枠の大きさ */
    width: 80%;
    height: 80%;
    background-color: #DFDCD8;
    border-radius: 10px;

    /* 枠の位置 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    position: relative;
}

#popupD{
    color: #653838;

    /* 枠の大きさ */
    width: 80%;
    height: 80%;
    background-color: #DFDCD8;
    border-radius: 10px;

    /* 枠の位置 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    position: relative;
}

#popupE{
    color: #653838;

    /* 枠の大きさ */
    width: 80%;
    height: 80%;
    background-color: #DFDCD8;
    border-radius: 10px;

    /* 枠の位置 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    position: relative;
}

#popupF{
    color: #653838;

    /* 枠の大きさ */
    width: 80%;
    height: 80%;
    background-color: #DFDCD8;
    border-radius: 10px;

    /* 枠の位置 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    position: relative;
}

.popup{
    box-sizing: border-box;
    padding-bottom: 10%;
    max-width: 80%;
    height: auto;
}

.popup-text{
    box-sizing: border-box;
    overflow-x: scroll;
    font-size: 18px;
    max-width: 90%;
    height: 35%;
    margin: 0 auto 300px;
}

@media screen and (max-width: 1000px){
    .popup-text{
        height: 40%;
    }
}

@media screen and (max-width: 800px){
    .popup-text{
        height: 50%;
    }
}

@media screen and (max-width: 600px){
    .popup-text{
        height: 60%;
    }
}

footer{
    width: 100%;
    height: 200px;
    background-color: #cec8c3;
}