body{
    margin: 0;
}

.title{
    position: relative;
}

.title h1{

    font-size: 250%;

    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(145, 145, 145);
    margin: 0%;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.headerContents{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}

.headerRight{
    padding: 5px 30px;
}

.headerLeft{
    padding: 0 30px;
    margin-right: auto;

}

.list{
    display: flex;
}

.list li{
    padding: 0 10px;
}

li{
    list-style: none;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}



.coc-session{
    width: 200px;
    height: 200px;
}


